rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   match /users/{user_id}{
    allow read, create: if request.auth != null; // any authenticated user can read & create
    allow update: if request.auth.uid == user_id; // only users who own/created a document can update it
   } 
   match /projects/{project_id} {
    allow read, create, update: if request.auth != null; // any authenticated user can read, create and update a document
       // resource object represents the document (we can access .idthe document data)
    allow delete: if request.auth.uid == resource.data.createdBy.id ;// only users who own/created a document can delete it
   }
  }
}